<div layout="row">

    <md-whiteframe class="md-whiteframe-2dp">
        <md-list>
            <div ng-repeat="user in ctrl.selection.users">
                <md-list-item class="md-3-line md-long-text">
                    <img src="{{user.user.img_url}}" class="md-avatar"/>
                    <div class="md-list-item-text" layout="column">
                        <h3 class="user-name">{{ user.user.name }}</h3>
                        <div class="chips-container">
                            <md-chips ng-model="user.categories" md-removable="false" readonly="true">
                                <md-chip-template class="category-chip">
                                    {{$chip | category}}
                                </md-chip-template>
                            </md-chips>
                        </div>
                    </div>
                </md-list-item>
                <md-divider></md-divider>
            </div>
        </md-list>
    </md-whiteframe>

    <!--<md-whiteframe class="md-whiteframe-2dp">-->

    <div layout="column" class="selection-content">

        <h2>Top {{ctrl.selection.top_category_coverage.length}} Category Coverage - {{ctrl.selection.category_coverage_rate * 100}}%</h2>

        <md-whiteframe class="md-whiteframe-2dp">
            <div>
                <md-chips ng-model="ctrl.selection.top_category_coverage" md-removable="false" readonly="true">
                    <md-chip-template coverage-chip>
                        <div ng-click="ctrl.selectCategory($chip[0])" title="{{$chip | category}}"  ng-class="{'small-chip':$chip[1]}" class="coverage-category-chip"  >{{$chip | category}}</div>

                    </md-chip-template>
                </md-chips>
            </div>
        </md-whiteframe>
        <h2>Category Analysis</h2>
        <category-analysis category="ctrl.selectedCategory" poi="ctrl.restName"></category-analysis>
    </div>
    <!--</md-whiteframe>-->
</div>
