<div>
    <h3>השתלבות</h3>
    <p>פאי בת החודשיים השתלבה בביתה החדש בצורה נפלאה כבר מהיום הראשון.&nbsp;אנו החלטנו לקבל עלינו את האחריות
        עליה באהבה גדולה, כאשר לראשונה הבנו את המשמעות של להיות אחראי על בעל חיים אחר. בתחילה חששנו שבגלל סדר היום העמוס
        של שנינו (אני איש קבע ואשתי&nbsp;מהנדסת חשמל עובדת אינטל) לא נוכל להשקיע את המאמצים הנדרשים <a
                href="http://www.vets.co.il/חינוך-גורים">בגידול של גור כלבים</a>. נוכחנו לדעת שאין דבר העומד בפני הרצון,
        כאשר ניהול נכון של הזמן מביא לתוצאות הרצויות.</p>

    <ul class="slide-list">
        <li ng-repeat="s in vm.slides track by $index" ng-click="vm.showGallery($index)">
            <img ng-src="{{ s.src }}" alt="slide number {{ $index }}"/>
        </li>
    </ul>

    <div ng-photoswipe slides="vm.slides" open="vm.open" slide-selector=".slide-list > li > img"
         on-close="vm.closeGallery()" options="vm.opts"></div>


    <h3>שלבים בהתפתחות</h3>
    <p>בהתפתחות גורים יש תקופות חשובות שיקבעו את המשך חייהם איתכם ואת סדרי העולם שלהם , התקופה הכי חשובה ב4 חודשים
        הראשונים של הגור.כמו ילדים, לגורים יש חלון הזדמנויות קצר בו המוח מתפתח, חלון זה נקרא חלון ההחתמה. בשביל גורים
        הזמן הזה הוא ב16 שבועות הראשונים לחייהם גורים לומדים הרבה יותר מהרגיל בזמן הזה בגלל זה האיכות והכמות של הלמידה
        והאילוף והחינוך הכי חשובים בשלב זה. ב7 שבועות הראשונים לחייו של הגור &ndash; הגור לומד להשתמש בחושיו, צמיחת
        שיניי חלב , מתחיל לזוז וללכת , ומעבר בין חלב אימו לאוכל יבש . בנוסף הוא יותר לא תלוי באימו בעשיית צרכים uילמד
        לעשות פיפי וקקי ללא צורך באימו.</p>
    <p>בגיל 8 שבועות כאשר הגור מגיע לביתו החדש הוא ילמד להכיר את בעליו ולתקשר איתם. חשוב לתת לו את מלוא תשומת הלב ולהמון
        יחס כדי שידע שבעליו הם מעכשיו האמא והאבא החדשים שלו ואיתם הוא יחייה למשך חייו. תקשורת זו חשובה כדי לעודד התנהגות
        טובה ולהמנע מפחדנות, ביישנות ותוקפנות.</p>
    <p>תקופת הפחד מתחילה בשבועות 8-11 . בשלב הזה אם הגור נחשף לדבר מה שהפחיד אותו או גרם לו לאיזשהו היסטריה
        כלשהי , יש סיכוי שהפחד הזה ילווה אותו לכל החיים אם הבעיה לא תטופל באמצעות <a href="#!/training">אילוף</a>.</p>
    <p>בגיל 4-6 חודש הגור לפתע יהפוך ליותר פעיל ומלא אנרגיה , בנוסף תהיה אי נוחות מכיון וצומחות לגור שלנו
        שיניים חדשות שיחליפו את שיניי החלב &nbsp;. בגיל זה גם תהפוך פרוותו מפרוות הגורים לפרוות כלב בוגר ויגיע כמעט
        לגובהו המלא .</p>

    <p>עד גיל 7 חודשים הגור ילמד להיגמל מלעשות צרכים בבית. רוב הכלבים יודעים שאסור להשתין איפה שישנים וחשוב
        לעזור להם ללמוד זאת.</p>
    <div class="graph-head">שעות ההשקעה היומיות לעומת גיל הכלבה</div>
    <canvas id="line" class="chart chart-bar" chart-data="[3,4,3.5,3,2]"
            chart-labels="['2 חודשים - 4 חודשים','5 חודשים - 6 חודשים','6 חודשים - 8 חודשים','8 חודשים - 10 חודשים','11 חודשים ואילך']"
            chart-series="['שעות השקעה ביום']"
            chart-options="{scales:{yAxes:[{ticks:{min:0}}]}}">
    </canvas>
</div>