<div layout="column">
    <div layout="row">
        <h1>{{ctrl.restName}}</h1>

        <md-whiteframe class="md-whiteframe-2dp switch-button-container">

                <md-button class="md-primary md-hue-1 switch-button" ng-click="ctrl.togglePrediction()">
                    <span ng-if="!ctrl.predictionMode">Get Prediction!</span>
                    <span ng-if="ctrl.predictionMode">Back To Selection</span>
                </md-button>

        </md-whiteframe>
    </div>
    <h3>{{selectedPOI.cuisines.slice(0,6).join(', ')}}</h3>
    <md-whiteframe class="md-whiteframe-2dp header-container" ng-if="ctrl.selectionCriteria.length > 0">
        <h3>Selection Criteria:</h3>
        <div>
            <md-chips ng-model="ctrl.selectionCriteria" md-removable="true"
                      readonly="true">
                <md-chip-template>
                    <div>
                                    <span ng-click="ctrl.selectCategory($chip)" title="{{$chip | category}}"
                                          ng-class="{'selected-cat':ctrl.selectedCategory === $chip}"
                                          class="coverage-category-chip">{{$chip |
                                        category}}
                                    </span>
                        <md-icon class="chip-icon" md-svg-icon="{{ $chip[2] }}"></md-icon>
                    </div>
                </md-chip-template>
            </md-chips>
        </div>
        <md-button class="md-primary md-hue-1" ng-click="ctrl.refine()">Refine Selection</md-button>
        <md-button class="md-primary md-hue-1" ng-click="ctrl.selectionCriteria = []">Clear Criteria</md-button>
    </md-whiteframe>
    <div layout="row">
        <md-whiteframe class="md-whiteframe-2dp">
            <md-list>
                <div ng-repeat="user in ctrl.selection.users">
                    <md-list-item class="md-3-line md-long-text">
                        <img src="{{user.user.img_url}}" class="md-avatar"/>
                        <div class="md-list-item-text" layout="column">
                            <h3 class="user-name">
                                <span>{{ user.user.name }}</span><span ng-if="ctrl.predictionMode"> - {{user.user.review_rating}} Stars</span>
                            </h3>
                            <h4 class="review-content" title="{{user.user.review_title}}" ng-if="ctrl.predictionMode">
                                {{user.user.review_title}}</h4>
                            <h5 class="review-content" ng-if="ctrl.predictionMode">{{user.user.review_content}}</h5>
                            <div class="chips-container" ng-if="!ctrl.predictionMode">
                                <md-chips ng-model="user.categories" md-removable="false" readonly="true">
                                    <md-chip-template class="category-chip">
                                        {{$chip | category}}
                                    </md-chip-template>
                                </md-chips>
                            </div>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                </div>
            </md-list>
        </md-whiteframe>

        <!--<md-whiteframe class="md-whiteframe-2dp">-->

        <div layout="column" class="selection-content">


            <!-- Selection without prediction-->
            <div ng-if="!ctrl.predictionMode">

                <div>
                    <md-autocomplete md-search-text="ctrl.query"
                                     md-items="item in ctrl.search(ctrl.query)"
                                     md-item-text="item.display"
                                     placeholder="Add selection refinements!">
                        <md-item-template>
                            <div class="search-result"
                                 ng-class="{'in-selection':item.originalCat[1],'not-in-selection':!item.originalCat[1]}">
                                <span ng-click="ctrl.selectCategory(item.originalCat)">{{item.display}}</span>
                                <span ng-if="item.originalCat[1]">
                                         <md-icon class="chip-icon" md-svg-icon="forbidden"
                                                  ng-click="ctrl.addCriterion(item.originalCat,$event.target.getAttribute('md-svg-icon'))"></md-icon>
                                        <md-icon class="chip-icon" md-svg-icon="dislike"
                                                 ng-click="ctrl.addCriterion(item.originalCat,$event.target.getAttribute('md-svg-icon'))"></md-icon>
                                </span>
                                <span ng-if="!item.originalCat[1]">
                                         <md-icon class="chip-icon" md-svg-icon="required"
                                                  ng-click="ctrl.addCriterion(item.originalCat,$event.target.getAttribute('md-svg-icon'))"></md-icon>
                                        <md-icon class="chip-icon" md-svg-icon="like"
                                                 ng-click="ctrl.addCriterion(item.originalCat,$event.target.getAttribute('md-svg-icon'))"></md-icon>
                                </span>
                            </div>
                        </md-item-template>
                    </md-autocomplete>
                </div>
                <h2>Top {{ctrl.selection.top_category_coverage.length}} Groups Coverage -
                    {{ctrl.selection.category_coverage_rate * 100}}%</h2>
                <div>
                    <h2>Top {{ctrl.selection.top_covered.length}} Covered Groups</h2>
                    <md-whiteframe class="md-whiteframe-2dp">
                        <div>
                            <md-chips ng-model="ctrl.selection.top_covered" md-removable="false"
                                      readonly="true">
                                <md-chip-template coverage-chip>
                                    <div>
                                    <span ng-click="ctrl.selectCategory($chip)" title="{{$chip | category}}"
                                          ng-class="{'selected-cat':ctrl.selectedCategory === $chip}"
                                          class="coverage-category-chip">{{$chip |
                                        category}}
                                    </span>
                                        <md-icon class="chip-icon" md-svg-icon="forbidden"
                                                 ng-click="ctrl.addCriterion($chip,$event.target.getAttribute('md-svg-icon'))"></md-icon>
                                        <md-icon class="chip-icon" md-svg-icon="dislike"
                                                 ng-click="ctrl.addCriterion($chip,$event.target.getAttribute('md-svg-icon'))"></md-icon>
                                    </div>
                                </md-chip-template>
                            </md-chips>
                        </div>
                    </md-whiteframe>
                </div>

                <div>
                    <h2>Top {{ctrl.selection.top_not_covered.length}} Not Covered Groups</h2>
                    <md-whiteframe class="md-whiteframe-2dp">
                        <div>
                            <md-chips ng-model="ctrl.selection.top_not_covered" md-removable="false"
                                      readonly="true">
                                <md-chip-template coverage-chip>
                                    <div>
                                    <span ng-click="ctrl.selectCategory($chip)" title="{{$chip | category}}"
                                          ng-class="{'selected-cat':ctrl.selectedCategory === $chip}"
                                          class="coverage-category-chip">{{$chip |
                                        category}}
                                    </span>
                                        <md-icon class="chip-icon" md-svg-icon="required"
                                                 ng-click="ctrl.addCriterion($chip,$event.target.getAttribute('md-svg-icon'))"></md-icon>
                                        <md-icon class="chip-icon" md-svg-icon="like"
                                                 ng-click="ctrl.addCriterion($chip,$event.target.getAttribute('md-svg-icon'))"></md-icon>
                                    </div>
                                </md-chip-template>
                            </md-chips>
                        </div>
                    </md-whiteframe>
                </div>

                <div>
                    <h2>Top {{ctrl.selection.top_category_coverage.length}} Groups Coverage</h2>

                    <md-whiteframe class="md-whiteframe-2dp">
                        <div>
                            <md-chips ng-model="ctrl.selection.top_category_coverage" md-removable="false"
                                      readonly="true">
                                <md-chip-template coverage-chip>
                                    <div ng-click="ctrl.selectCategory($chip)" title="{{$chip | category}}"
                                         ng-class="{'small-chip':$chip[1] && ctrl.selectedCategory != $chip,'selected-cat':ctrl.selectedCategory === $chip}"
                                         class="coverage-category-chip">{{$chip |
                                        category}}
                                    </div>
                                </md-chip-template>
                            </md-chips>
                        </div>
                    </md-whiteframe>
                </div>
                <div ng-if="ctrl.selectedCategory">
                    <h2 id="catAnalysis">Group Analysis - {{ctrl.selectedCategory | category}}</h2>
                    <span>
                        <md-icon class="chip-icon" md-svg-icon="forbidden"
                                 ng-click="ctrl.addCriterion(ctrl.selectedCategory,$event.target.getAttribute('md-svg-icon'))"></md-icon>
                        <md-icon class="chip-icon" md-svg-icon="required"
                                 ng-click="ctrl.addCriterion(ctrl.selectedCategory,$event.target.getAttribute('md-svg-icon'))"></md-icon>
                        <md-icon class="chip-icon" md-svg-icon="dislike"
                                 ng-click="ctrl.addCriterion(ctrl.selectedCategory,$event.target.getAttribute('md-svg-icon'))"></md-icon>
                        <md-icon class="chip-icon" md-svg-icon="like"
                                 ng-click="ctrl.addCriterion(ctrl.selectedCategory,$event.target.getAttribute('md-svg-icon'))"></md-icon>
                    </span>
                    <category-analysis category="ctrl.selectedCategory[0]" poi="ctrl.restName"
                                       criteria="ctrl.selectionCriteria"></category-analysis>
                </div>
            </div>

            <!--Prediction-->
            <div ng-if="ctrl.predictionMode">
                <div layout="row">
                    <div layout="column">
                        <h2>Selection Topic Coverage -
                            {{(ctrl.prediction.topic_coverage_rate * 100).toFixed(2)}}%</h2>
                        <md-whiteframe class="md-whiteframe-2dp">
                            <div>
                                <md-chips ng-model="ctrl.prediction.topic_coverage" md-removable="false"
                                          readonly="true">
                                    <md-chip-template coverage-chip>
                                        <div class="coverage-category-chip">{{$chip[0] }}
                                        </div>

                                    </md-chip-template>
                                </md-chips>
                            </div>
                        </md-whiteframe>
                        <h2>Selection Variance - {{ ctrl.prediction.selection_variance.toFixed(2)}}</h2>
                    </div>
                    <div layout="column" class="random-column">
                        <h2>Random Topic Coverage -
                            {{(ctrl.prediction.random_topic_coverage_rate * 100).toFixed(2)}}%</h2>
                        <md-whiteframe class="md-whiteframe-2dp">
                            <div>
                                <md-chips ng-model="ctrl.prediction.random_topic_coverage" md-removable="false"
                                          readonly="true">
                                    <md-chip-template coverage-chip>
                                        <div class="coverage-category-chip">{{$chip[0] }}
                                        </div>

                                    </md-chip-template>
                                </md-chips>
                            </div>
                        </md-whiteframe>
                        <h2>Random Variance - {{ctrl.prediction.random_variance.toFixed(2)}}</h2>
                    </div>
                </div>

                <h2 align="center">Total Variance - {{ctrl.prediction.total_variance.toFixed(2)}}</h2>
                <h2>Rating Distribution</h2>

                <canvas id="line" class="chart chart-line"
                        chart-data="[ctrl.prediction.selection_dist,ctrl.prediction.total_dist,ctrl.prediction.random_dist]"
                        chart-labels="ctrl.predictionLabels" chart-series="['Selection','All Users','Random Selection']"
                        chart-options="{legend:{display:true}}">
                </canvas>


            </div>
        </div>
        <!--</md-whiteframe>-->
    </div>
</div>